
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
*.json
*.json.gsv
*.csv
*.csv.gsv
02-workflow-orchestration/mage-zoomcamp-copy/mage_data
05-batch/code/fhvhv/2021/01
05-batch/code/data
*.parquet
*.crc
*_SUCCESS
*.jar
05-batch/code/fhvhv_tripdata_2021-01.csv.gz

